<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\JuanMartin.PhotoGallery.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
	    <environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			<environmentVariable name="WEBCONNECTION_DETAILEDERRORS" value="1" />
			
			<environmentVariable name="WEBCONNECTION_USELIVERELOAD" value="False" />
			<environmentVariable name="WEBCONNECTION_OPENBROWSER" value="False" />
			<environmentVariable name="WEBCONNECTION_SHOWURLS" value="False" />
	  </environmentVariables>
   	  </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2354433e-cc47-410f-8bef-490cc5387a83-->